.header-dark{
  position: fixed;
  display: flex;
  background-color: rgb(18, 18, 18);
  z-index: 100;
  height:60px;
  top:0;
  left:0;
  right:0;
  justify-content: space-between;
}
.left-section-dark{
  margin-left: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:230px;
  flex-shrink: none;
}
.left-section-dark:hover{
  cursor: pointer;
}
.hamburger-menu-container-dark{
  height: 42px;
  width: 42px;
  position: relative;
}
.hamburger-menu-dark{
  height: 25px;
  width: 25px;
  position: absolute;
  left: 9px;
  top: 9px;
}
.youtube-logo-dark{
  height:20px;
  flex-shrink: none;
}
.youtube-logo-2-dark{
  opacity: 0;
  width: 0;
}
.middle-section-dark{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width:500px;
  /*margin-left: 50px;*/
}

.search-box-dark{
  height:35px;
  flex:1;
  padding-left: 10px;
  font-family: roboto,arial;
  font-size:17px;
  border: solid;
  border-color: rgb(48, 48, 48);
  background-color: transparent;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  color:white;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: none;
  width:0;
}
.search-box-dark::placeholder{
  font-family: roboto,arial;
  font-size: 15px;
  color: rgb(140, 140, 140);
}
.search-box-dark:focus{
  outline: solid 1px blue;
}
.middle-section-dark button{
  background-color: rgb(38, 38, 38);
}
.search-icon-button-dark{
  border-style:solid;
  border-width: 1px;
  border-color: rgb(48,48,48);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  height:39px;
  width:63px;
  margin-left: -2px;
  flex-shrink: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon-button-dark .tooltip-dark,
.voice-search-icon-button-dark .tooltip-voice-search-dark,
.upload-icon-container-dark .tooltip-voice-search-dark,
.notifications-container-dark .tooltip-voice-search-dark,
.header-profile-dark .tooltip-header-profile-dark{
  position: absolute;
  bottom:-35px;
  white-space: nowrap;
  background-color: rgb(97, 97, 97);
  color: rgb(255, 255, 255);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-family: Roboto,arial;
  font-size: 14px;
  justify-content: center;
  pointer-events: none;
  opacity:0;
  transition:opacity 0.15s;
}
.header-profile-dark .tooltip-header-profile-dark{
  right:-20px;
}
.search-icon-button-dark:hover .tooltip-dark,
.voice-search-icon-button-dark:hover .tooltip-voice-search-dark,
.upload-icon-container-dark:hover .tooltip-voice-search-dark,
.notifications-container-dark:hover .tooltip-voice-search-dark,
.header-profile-dark:hover .tooltip-header-profile-dark{
  opacity: 1;
}

.search-icon-dark{
  height: 25px;
}
.search-icon-button-dark:hover,
.voice-search-icon-button-dark:hover{
  cursor: pointer;
}
.voice-search-icon-button-dark:hover{
  background-color: rgb(59,59,59);
}
.voice-search-icon-button-dark{
  height:40px;
  width:40px;
  border:none;
  border-radius: 40px;
  margin-left: 10px;
  flex-shrink: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.voice-search-icon-dark{
  height:23px;
  vertical-align: middle;
}
.right-section-dark{
  flex-shrink: none;
  display: flex;
  align-items: center;
  width:230px;
  justify-content: space-evenly;
  /*margin-left: 32px;
  margin-right: 27px;*/
}
.upload-icon-container-dark{
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upload-icon-dark{
  height: 25px;
  width: 25px;
}
.youtube-apps-dark{
  height:25px;
  width: 25px;
}
.notifications-container-dark{
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifications-container-2-dark{
  position: relative;
}
.notifications-container-dark:hover,
.upload-icon-container-dark:hover,
.hamburger-menu-container-dark:hover{
  cursor: pointer;
  border: none;
  background-color: rgb(38, 38, 38);
  border-radius: 90px;
}
.notifications-count-dark{
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 0px;
  position: absolute;
  font-family: roboto,arial;
  font-size: 11px;
  background-color: #cc0000;
  border: 2px solid rgba(0, 0, 0, 0.8);
  color:white;
  border-radius: 20px;
  top: 1px;
  left: 10px;
}
.notifications-dark{
  height:25px;
  vertical-align: middle;
}
.header-profile-pic-dark{
  width:35px;
  height:35px;
  border-radius: 20px;
  object-fit: cover;
  cursor: pointer;
}
.header-profile-dark{
  position: relative;
  justify-content: center;
  align-items: center;
}

@media (max-width: 320px) {
  .header-dark{
    width: 100%;
  }
  .left-section-dark{
    width: 20%;
  }
  .hamburger-menu-container-dark{
    height: 0;
    width: 0;
  }
  .hamburger-menu-dark{
    opacity: 0;
    width: 0;
  }
  .youtube-logo-dark{
    opacity: 1;
    height: 12px;
  }
  .middle-section-dark{
    width: 50%;
  }
  .search-box-dark{
    height: 26px;
    width: 0px;
    font-size: 10px;
  }
  .search-icon-dark{
    height: 14px;
  }
  .search-icon-button-dark{
    width: 30px;
    height: 30px;
  }
  .search-box-dark::placeholder{
    font-size: 10px;
  }
  .voice-search-icon-dark{
    height: 16px;
  }
  .voice-search-icon-button-dark{
    height: 25px;
    width: 25px;
  }
  .right-section-dark{
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
  }
  .upload-icon-dark,
  .youtube-apps-dark,
  .notifications-dark{
    height: 18px;
  }
  .upload-icon-container-dark{
    height: 45%;
    width: 100%;
  }
  .notifications-container-dark{
    height: 45%;
    width: 100%;
  }
  .notifications-count-dark{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 7px;
  }
  .header-profile-pic-dark{
    width: 17px;
    height: 17px;
    margin-right: 3px;
  }
  .search-icon-button-dark .tooltip-dark,
.voice-search-icon-button-dark .tooltip-voice-search-dark,
.upload-icon-container-dark .tooltip-voice-search-dark,
.notifications-container-dark .tooltip-voice-search-dark,
.header-profile-dark .tooltip-header-profile-dark{
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 2px;
  font-size: 7px;
}
.tooltip-header-profile-dark{
  left: -18px;
}
}
@media (max-width: 560px) {
  .header-dark{
    width: 100%;
  }
  .left-section-dark{
    width: 20%;
  }
  .hamburger-menu-container-dark{
    height: 0;
    width: 0;
  }
  .hamburger-menu-dark{
    opacity: 0;
    width: 0;
  }
  .youtube-logo-dark{
    opacity: 1;
    height: 12px;
  }
  .middle-section-dark{
    width: 50%;
  }
  .search-box-dark{
    height: 26px;
    width: 0px;
    font-size: 10px;
  }
  .search-icon-dark{
    height: 14px;
  }
  .search-icon-button-dark{
    width: 30px;
    height: 30px;
  }
  .search-box-dark::placeholder{
    font-size: 12px;
  }
  .voice-search-icon-dark{
    height: 17px;
  }
  .voice-search-icon-button-dark{
    height: 27px;
    width: 27px;
  }
  .right-section-dark{
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
  }
  .upload-icon-dark,
  .youtube-apps-dark,
  .notifications-dark{
    height: 20px;
  }
  .upload-icon-container-dark{
    height: 50%;
    width: 100%;
  }
  .notifications-container-dark{
    height: 50%;
    width: 100%;
  }
  .notifications-count-dark{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 7px;
    top:-1px;
    right:-1px;
  }
  .header-profile-pic-dark{
    width: 17px;
    height: 17px;
    margin-right: 5px;
  }
  .search-icon-button .tooltip-dark,
.voice-search-icon-button-dark .tooltip-voice-search-dark,
.upload-icon-container-dark .tooltip-voice-search-dark,
.notifications-container-dark .tooltip-voice-search-dark,
.header-profile-dark .tooltip-header-profile-dark{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-size: 8px;
}
.notifications-container-dark:hover .tooltip-voice-search-dark{
  left: -16px;
}
.tooltip-header-profile-dark{
  left: -21px;
}
}


