body{
  background-color: white;
}
.container{
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 158px;
}
.sub-container{
  display: flex;
  justify-content: center;
}
.theme-selection{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  font-family: Roboto,arial;
}
.light-theme-button,
.dark-theme-button{
  border-radius: 50px;
  border: solid 1px;
}
.light-theme-button{
  background-color: white;
  color: black;
}
.dark-theme-button{
  background-color: white;
  color: black;
}
.is-clicked{
  background-color: black;
  color: white;
}
.is-clicked-dark{
  background-color: white;
  color: black;
}
.light-theme-button:hover,
.dark-theme-button:hover{
  cursor: pointer;
  background-color: rgb(110, 110, 110);
  color: white;
}
.image {
  height:50px;
  margin-bottom: 15px;
}
.image:hover{
  cursor: pointer;
}
.input-section{
  display: flex;
  flex-direction: column;
}
.name,.email,.password,.date{
  background-color: rgb(255,255,255);
  margin-top: 20px;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.35);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; 
  font-family: arial;
  border-radius: 4px;
  font-size: 17px;
}
.date{
  color:rgb(105, 105, 105);
}
.name:hover,
.email:hover,
.password:hover,
.date:hover{
  cursor:pointer;
}
.name:focus,
.email:focus,
.password:focus,
.date:focus{
  outline: solid 1px blue;
}
.submit-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
}
.submit{
  height:30px;
  width:150px;
  font-family: arial;
  font-weight: bold;
  font-size: 17px;
  background-color: #cc0000;
  color: white;
  border:none;
  border-radius: 20px;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s, border-color 0.15s;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.35);
}

.submit:hover{
  cursor: pointer;
  opacity: 0.7;
  background-color: white;
  color: #cc0000;
  border:solid;
  border-color: #cc0000;
}
.submit:active{
  opacity:0.6;
  box-shadow: none;
  margin-left: 5px;
  margin-top: 5px;
}
@media (max-width:320px){
  .container{
    margin-top: 128px;
  }
  .theme-selection{
    height: 40px;
    width: 100%;
  }
}
@media (max-width:375px){
  .container{
    margin-top: 138px;
  }
  .theme-selection{
    height: 40px;
    width: 100%;
  }
}
@media (max-width:425px){
  .container{
    margin-top: 138px;
  }
  .theme-selection{
    height: 40px;
    width: 100%;
  }
}
@media (max-width:768px){
  .container{
    margin-top: 138px;
  }
  .theme-selection{
    height: 40px;
    width: 100%;
  }
}
@media (max-width:1024px){
  .container{
    margin-top: 140px;
  }
}